h1{
    color:rgba(7, 96, 102, 0.842);
}

#p2{
    color:rgb(175, 42, 115);
    text-align: left;
}
#p3{
    color:rgb(189, 26, 26);
    text-align: center;
    margin-top: 20%;
}
#p4{
    color:rgb(21, 163, 21);
    text-align: right;
}
div{
    max-width: 200; margin: auto; margin-top: 20px; background-color: bisque;
}
